h1 {
animation: type 1s steps(12);
overflow: hidden;
white-space: nowrap;
font-family: consolas;
border-right: 4px solid black;
width:12ch;
	
}
@keyframes type {
  0% {
    width:0ch;
  }
	100% {
		width:12ch;
	}
}